<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Subscriptions
        </h1>
        
      </div>
      <div class="col-auto">
      
      </div>
    </div>
    </div>