<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Website Builder
        </h1>
        
      </div>
      <div class="col-auto">
      </div>
    </div>

  </div>
</div>


<%=form_for "site_builders", url: admin_site_builder_create_path, html: {method: :post} do |f|%> 

<div class="form-group field">
  <label>Select Domain</label>
   <%#=select_tag 'dns_domain_name', options_for_select(get_dns_domains), class: 'form-control field-size'%>
   <%=select_tag 'dns_domain_name', options_for_select(get_dns_domains), class: 'select2-clear js-filterable', prompt: 'Select Web Domain'%>
</div> 

<div class="input-group">
    <div>
     <%=submit_tag 'Get Started',class: 'btn btn-primary lift'%>
    </div>
</div>
<% end %>

<style type="text/css">
.field-size{
  width: 50%
}
</style>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>