<% content_for :page_title do %>
<div class="mt-2"></div>
<%= Spree.t(:Website_builder) %>
<% end %>

<%=form_for "site_builders", url: admin_site_builder_create_path, html: {method: :post}, remote: true do |f|%> 

<div class="form-group field">
  <label>Select Domain</label>
   <%=select_tag 'mail_domain', options_for_select(get_dns_domains), class: 'form-control field-size'%>
</div> 

<div class="input-group">
    <div>
     <%=submit_tag 'Get Started',class: 'btn btn-primary'%>
    </div>
</div>
<div class="redirect" onmouseover = "myFunction()">
</div>
<% end %>

<style type="text/css">
.field-size{
  width: 50%
}
</style>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>