<% content_for :page_title do %>
 <div class="mt-2"></div>
  <%= link_to Spree.t(:mail), admin_mail_mailing_lists_path %> /
  <%= Spree.t(:add_mailing_list) %>
<% end %>

<%= render partial: 'spree/admin/mail/mailing_lists/form' %>