<style type="text/css">
  .modal-body{
    overflow-x: auto;
  }

  .modal-dialog{
    max-width: 700px;
  }

  .modal-body table td{
    padding: 5px 10px;
  }
  .btn-size{
    padding: 0.3rem 0.45rem;
      font-size: 0.8rem;
  }
</style>


<div class="card mt-3">
  <div class="table-responsive">
    <table class="table table-sm card-table" style="width:100%">
      <thead>
          <tr>
            <th>Database Name</th>
            <th>Database User</th>
            <th>Database Type</th>
            <th style="text-align:end">Actions</th>
          </tr>
      </thead>
      <tbody class="fs-base" id="databases_list_table">
        <%@user_databases.each do |database|%>
           <%=render partial: 'spree/admin/sites/isp_databases/row', locals: {database: database}%>
        <%end%>
        </tbody>
      </table>
    </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('body').on('change', "#database_database_type", function(){
      var val = $(this).val();
      if(val == 'ms_sql2019') {
         $('#create_database_server_type_id').val("windows")
      }else {
        $('#create_database_server_type_id').val("linux")
      }
    })
    $('#FlashAlertsContainer').removeClass('d-none');
  });

  $(document).on('click', '.close', function(event){
    $('#databaseModal').modal('hide');
  });

</script>
