
<div class="card mt-4">
<div class="table-responsive">
<table class="table table-sm card-table" style="table-layout: fixed; width:100%">
  <thead>
    <tr>
    <th>Listname</th>
    <th>Email</th>
    <th style="text-align: end">Actions</th>
    </tr>
  </thead>
  <tbody class="fsbase" id="mailing_list_table">
  <% if @mailing_lists.present? %>
    <%@mailing_lists.each do |mailing_list| %>
        <%= render partial: 'spree/admin/mail/mailing_lists/row', locals: { mailing_list: mailing_list} %>
    <% end %>
  <% else %>
    <tr>
    <td><label class="form-label table_row_label"> No Mailing Lists found</label> </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>