<div class="card mt-4">
<div class="table-responsive">
<table class="table table-sm card-table" style="width:100%">
  <thead>
    <tr>
    <th>Source</th>
    <th>Destination</th>
    <th>Active</th>
    <th style="text-align:end">Actions</th>
    </tr>
  </thead>
  <tbody class="fsbase" id="mail_forward_table">
  <% if @mail_forwards.any? %>
    <%@mail_forwards.each do |mail_forward| %>
        <%= render :partial=> 'spree/admin/mail/forwards/row', locals: {mail_forward: mail_forward}%>
    <% end %>
  <% else %>
    <tr id="mail_forward_no_data">
    <td><label class="form-label table_row_label"> No Mail Forwards found.</label></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>

