<style type="text/css">
  .btn-size{
    padding: 0.3rem 0.45rem;
      font-size: 0.8rem;
  }
  
</style>

<div class="card mt-4">
    <div class="table-responsive">
      <table class="table table-sm card-table" style="width:100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
           <!--  <th>AutoRespond</th> -->
            <th>Receiving</th>
            <th>SMTP</th>
            <th>Inbox</th>
            <th>IMAP</th>
            <th>POP3</th>
            <th style="text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody class="fs-base" id="mailboxes_list_table">
        <% if @mailboxes.any? %>
          <%@mailboxes.each do |mailbox| %>
          <%=render :partial=>'spree/admin/mail/mail_boxes/row', locals: { mailbox: mailbox }%>
        <% end %>
        <% else %>
          <tr>
            <td><label class="form-label table_row_label"> No Mail Boxes Found </label></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  

<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-mailbox-modal-link', function(){
      var email = $(this).data('email');
      var name = $(this).data('name');
      var smtp = $(this).data('smtp');
      var imap = $(this).data('imap');
      var pop = $(this).data('pop');
      var smtp = $(this).data('smtp');
      var webmailUrl = $(this).data('webmail-url');
      var id = $(this).data('id');
      $('#exampleModalLabel').html("MailBox Configuration Details");
      // <tr>
      //         <td><b>SMTP:</b></td>
      //         <td>${smtp}</td>
      //       </tr>
      $('#exampleModal .modal-body').html(`
        <table>
          <tbody>
            <tr>
              <td><b>Email:</b></td>
              <td>${email}</td>
            </tr>
            <tr>
              <td><b>Name:</b></td>
              <td>${name}</td>
            </tr>
            
            <tr>
              <td><b>POP:</b></td>
              <td>${pop}</td>
            </tr>
            <tr>
              <td><b>SMTP:</b></td>
              <td>${smtp}</td>
            </tr>
            <tr>
              <td><b>WEBMAIL&nbsp;URL:</b></td>
              <td>${webmailUrl}</td>
            </tr>
            <tr>
            <td><b>Reset Password:</b></td>
            <td>
                <a href="/admin/wizards/reset_password?email=${email}&type=create_mail_box&div_class=mail_box_${id}" data-remote="true">Reset Password</a>
                <div class='password-text'></div>
            </td>
            </tr>
          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal').modal('show');
    });
  });

$(document).on('click', '.admin_new_domain1', function(event){
  event.preventDefault();
  $('#mailboxModal').modal('show');
});

$(document).on('click', '.btn-close', function(event){
  $('#mailboxModal').modal('hide');
});
</script>