<style type="text/css">
  .btn-size{
    padding: 0.3rem 0.45rem;
      font-size: 0.8rem;
  }
  
</style>

<div class="card mt-4">
    <div class="table-responsive">
      <table class="table table-sm card-table" style="width:100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
           <!--  <th>AutoRespond</th> -->
            <th>Receiving</th>
            <th>SMTP</th>
            <th>Inbox</th>
            <th>IMAP</th>
            <th>POP3</th>
            <th style="text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody class="fs-base" id="mailboxes_list_table">
        <% if @mailboxes.any? %>
          <%@mailboxes.each do |mailbox| %>
          <%=render :partial=>'spree/admin/mail/mail_boxes/row', locals: { mailbox: mailbox }%>
        <% end %>
        <% else %>
          <tr id="mailbox_no_data">
            <td><label class="form-label table_row_label"> No Mail Boxes Found </label></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  

<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

   
  });


$(document).on('click', '.btn-close', function(event){
  $('#mailboxModal').modal('hide');
});
</script>