<% if @spam_filter_black.present? %>
<div class="card mt-4">
<div class="table-responsive">
<table class="table table-sm card-table" style="width:100%">
  <thead>
    <tr>
    <th>Email</th>
    <th style="text-align: center;">Active</th>
    <th style="text-align: center;">Priority</th>
    <th style="text-align: end">Actions</th>
    </tr>
  </thead>
  <tbody class="fsbase">
  <%@spam_filter_black.each do |resource| %>
    <tr data-hook="admin_orders_index_rows">
      <td><%=resource.email%></td>
      <td style="text-align: center;"> <% if resource.active == 'y' %>
      <i class="fe fe-check-circle" style="color: green;"></i>
      <% else %>
      <i class="fe fe-x-circle" style="color: red;"></i>
      <% end %>
      </td>
      <td style="text-align: center;"><%=resource.priority%></td>
      <td>
      <span class="d-flex justify-content-end">
      <%=link_to '<i class="fe fe-trash"></i>'.html_safe,admin_mail_spam_filter_blacklist_path(id: resource.wblist_id), method: :delete, data: {confirm: t('general.delete')},class:"btn btn-danger btn-size", style:"margin-right:5px" %>
        <%=link_to '<i class="fe fe-edit"></i>'.html_safe,edit_admin_mail_spam_filter_blacklist_path(id: resource.wblist_id),class:"btn btn-success btn-size"%> 
      </span>
      </td>  
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
  <label class="form-label" style="margin-top: 0.5rem;"> No Spamfilter Blacklist found.</label>
  </div>
<% end %>