<style>
.btn-size{
  padding: 0.3rem 0.45rem;
    font-size: 0.8rem;
}

.container {
  display: block;
  width: 100%;
}

.card {
  float: left;
  margin: 3px;
  width: 49%;
}
.card-body{
  flex: 1 1 auto;
  padding: 0.8rem 0.8rem;
}

.container .card:first-child {
  margin-left: 0;
}


.container .card:last-child {
  margin-right: 0;
}

@media(max-width: 1000px) {
  .card {
    float: left;
    margin: 1px;
    width: 100%;
  }
}
@media(max-width: 750px) {
  .card {
    float: left;
    margin: 1px;
    width: 70%;
  }
}
@media(max-width: 720px) {
  .card {
    float: left;
    margin: 1px;
    width: 70%;
  }

}
</style>
<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        DNS Domains
        </h1>
        
      </div>
      <div class="col-auto">
      <% if current_spree_user.isp_config_id.present? %>
        <%= button_link_to Spree.t(:add_domain),
        new_admin_dns_hosted_zone_url,
        class: "btn btn-primary lift",
          icon: 'add.svg',
          id: 'admin_new_order' %>
      <% end  %>
      </div>
    </div>
    </div>

<%= flash_messages %>

<% if @hosted_zones.any? %>
<div class="container mt-4 mb-4">
<%= render partial: 'rows', collection: @hosted_zones, as: :hosted_zone %>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found mt-4">
    <label class="form-label" style="margin-top: 0.5rem;"> No Dns Domain Found</label>
  </div>
<% end %>

<%= render partial: '/spree/admin/shared/modal/modal' %>

<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-dns-modal-link', function(){
      var serverName = $(this).data('origin');
      var ns1 = $(this).data('ns1');
      var ns2 = $(this).data('ns2');
      $('#exampleModalLabel').html("DNS Configuration Details");
      $('#exampleModal .modal-body').html(`
        <table>
          <tbody>
            <tr>
              <td><b>Domain:</b></td>
              <td>${serverName}</td>
            </tr>
            <tr>
              <td><b>Nameserver 1:</b></td>
              <td>${ns1}</td>
            </tr>
            <tr>
              <td><b>Nameserver 2:</b></td>
              <td>${ns2}</td>
            </tr>
          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal').modal('show');
    });
  });
</script>