<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Folder
        </h1>
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_protected_folder),
      new_admin_sites_protected_folder_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_new_protected_user' %>
      </div>
    </div>

  </div>
</div>

<% if @resources.any? %>
<div data-nav-x-wrapper>
  <div data-nav-x-container>
    <table class="table" id="listing_orders" data-hook data-nav-x-content>
      <thead>
        <tr data-hook="admin_orders_index_headers">
          <th>ID</th>
          <th>Website</th>
          <th>Path</th>
          <th>active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'spree/admin/sites/protected_folders/index', collection: @resources, as: :protected_folder %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
    You haven't registered the Folder yet.
  </div>
<% end %>

<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
