<div class="">
  <label>Enter Cheque Number</label>
  <%=text_field_tag "order[payments_attributes][][check_number]" ,'',type: "text", pattern: "[0-9.]+", title: "Enter Valid Check Number", class: 'form-control check-payment-input',placeholder: 'Enter Cheque Number',id: "check_number_input_id_#{payment_method.id}"%>
</div>
