<div class="">
  <label>Enter Check Number</label>
  <%=text_field_tag "order[payments_attributes][][check_number]" ,'',class: 'form-control',placeholder: 'Enter Check Number',id: 'check_number_input_id'%>
</div>
