Hello <%=@user.full_name%> 

<br/>
<br/>

<b>Your account has been successfully reactivated!</b> <br/>

You can continue accessing the services. <br/><br/>

<br/>


<a href="<%= @current_store.url%>"><%= @current_store.url%></a> <br/>

thanks,<br/>
<%=@user.account.orgainization_name%><br/>

<br/>


