.shopping-cart-item-image {	
	display: none !important;
}

.font-12{
	font-size: 12px;
}
.grey{
	color: grey;
}

.subscription-table table tr td {
	vertical-align: middle;
}

.quantity-select {
	display: none !important;
}

.paypal-btn-custom {
	height: 65px;
    font-size: 1.375rem;
    line-height: 2.3;
    letter-spacing: 0.55px;
    margin-bottom: 100px;
    padding: 6px 12px;
}

.new-tenant{
        background: aliceblue;
    padding: 15px;
}


@media (min-width: 992px) {
.spree-flat-input, .spree-flat-select {
    padding: 15px;
    font-size: 0.875rem;
}

}

select {  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color : #e2e2e2;
    color : #4c4c4c;
    opacity : 1;
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 0.875rem;
}

.flat-select-arrow {
    pointer-events: none;
    right: 22px;
    top: 47%;
    transform: translateY(-50%);
}
  
.div {
    width: 70px;
    height: 50px;
    position: absolute;
    z-index: 0;
}

.phone>div {
    display:inline-block;
    padding:1px;
}

.phone_field{
    width: 70px;
}
