.shopping-cart-item-image 
{	
	display: none !important;

}

.font-12{
	font-size: 12px;
}
.grey{
	color: grey;
}

.subscription-table table tr td {
	vertical-align: middle;
}

.quantity-select {
	display: none !important;
}


