<%if current_spree_user.store_admin? || current_spree_user&.superadmin? %>
<h1 class="contextual-title px-0 mb-0 col" style="margin-top: -2rem;">Dashboard</h1>
<hr>

<%else%>
<div class="header mt-2">
  <div class="header-body">
    <div class = "mt-2">
      <%= flash_messages %>
    </div>
    <div class="row align-items-center mt-3">
      <div class="col">
        <h1 class="header-title">
          Dashboard
        </h1>
      </div>
      <div class="col-auto">
      
      </div>
    </div>
  </div>
</div>


<%end%> 