key,value,cluster_id
ISP_CONFIG_USERNAME,remote_user,1
ISP_CONFIG_PASSWORD,password,1
ISP_CONFIG_REMOTE_URL,https://173.0.137.83:8080/remote/,1
ISP_CONFIG_USER_URL,https://173.0.137.83:8080/,1
ISP_CONFIG_ENABLED,TRUE,1
ISP_CONFIG_DNS_SERVER_ID,1,1
ISP_CONFIG_WEB_SERVER_ID,1,1
ISPCONFIG_WEB_SERVER_IP,173.0.137.83,1
ISPCONFIG_DNS_SERVER_NS1,ns1.qa.ispconfig.opspi.com,1
ISPCONFIG_DNS_SERVER_NS2,ns2.qa.ispconfig.opspi.com,1
ISPCONFIG_MAIL_SERVER_01,qa.ispconfig.opspi.com,1
ISPCONFIG_MAIL_SERVER_02,qa.ispconfig.opspi.com,1
MYSQL_SERVER_HOSTNAME,173.0.137.83,1
MYSQL_SERVER_PORT,3306,1
MAIL_SERVER_SMTP_URL,smtp.opspi.com,1
MAIL_SERVER_POP_URL,pop.opspi.com,1
MAIL_SERVER_IMAP_URL,imap.opspi.com,1
WEBMAIL_URL,https://qa.ispconfig.opspi.com:8080/webmail/,1
FTP_SERVER_HOSTNAME, https://qa.ispconfig.opspi.com:8080,1
FTP_SERVER_PORT,21,1
