<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Databases
        </h1>
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_database),
      new_admin_sites_isp_database_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'new_admin_database' %>
      </div>
    </div>

  </div>
</div>

<% if @resources.any? %>
<div class="card">
<div class="table-responsive">
<table class="table table-sm card-table" style="table-layout: fixed; width:100%">
  <thead>
    <tr>
    <th>Database Name</th>
    <th>Database User</th>
    <th style="text-align:end">Actions</th>
    </tr>
  </thead>
  <tbody class="fsbase">
  <%= render partial: 'spree/admin/sites/isp_databases/index', collection: @resources, as: :database %>
  </tbody>
</table>
</div>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
    <label class="form-label" style="margin-top: 0.5rem;"> You haven't created any Database yet. </label>
  </div>
<% end %>

<%= render partial: '/spree/admin/shared/modal/modal' %>

<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');

    $(document).on('click', '.configure-db-modal-link', function(){
      var databaseName = $(this).data('database');
      var userName = $(this).data('username');
      var pwdDiv = $(this).data('pwd-div-id');
      if($('#'+pwdDiv).is(':empty')){
        var password = $(this).data('password');
      }
      else{
        var password = $('#'+pwdDiv).html();
      }
      var host = $(this).data('host');
      var port = $(this).data('port');
      var id = $(this).data('id');
      $('#exampleModalLabel').html("Database Configuration Details");
      $('#exampleModal .modal-body').html(`
        <table>
          <tbody class="db_${id}">
            <tr>
              <td><b>Database&nbsp;Name:</b></td>
              <td>${databaseName}</td>
            </tr>
            <tr>
              <td><b>Username:</b></td>
              <td>${userName}</td>
            </tr>
            <tr class="db_${id}">
              <td><b>Password:</b></td>
              <td class="password-text">${password}</td>
            </tr>
            <tr>
              <td><b>Host:</b></td>
              <td>${host}</td>
            </tr>
            <tr>
              <td><b>Port:</b></td>
              <td>${port}</td>
            </tr>
            <tr>
              <td>Reset Password</td>
              <td>
                <a href="/admin/sites/isp_databases/reset_password?email=${userName}&type=create_database&div_class=db_${id}&source=isp_databases" data-remote="true">Reset Pasword</a>
                <div class='password-text'></div>
              </td>
            </tr>
          </tbody>
        </table>
      `);
      $('#modal-save-button').hide();
      $('#exampleModal').modal('show');
    });
  });

</script>
