<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Databases
        </h1>
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_database),
      new_admin_sites_isp_database_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'new_admin_database' %>
      </div>
    </div>

  </div>
</div>

<% if @resources.any? %>
<div class="card">
<div class="table-responsive">
<table class="table table-sm card-table" style="table-layout: fixed; width:100%">
  <thead>
    <tr>
    <th>Database Name</th>
    <th>Database User</th>
    <th style="text-align:end">Actions</th>
    </tr>
  </thead>
  <tbody class="fs-base">
  <%= render partial: 'spree/admin/sites/isp_databases/index', collection: @resources, as: :database %>
  </tbody>
</table>
</div>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
    <label class="form-label" style="margin-top: 0.5rem;"> You haven't created any Database yet. </label>
  </div>
<% end %>



<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
