<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Folder User
        </h1>
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_protected_folder_user),
      new_admin_sites_protected_folder_user_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'add_protected_folder_user' %>
      </div>
    </div>

  </div>
</div>

<%= flash_messages %>

<% if @resources.any? %>
<div class="card">
<div class="table-responsive">
<table class="table table-sm card-table" style="width:100%">
  <thead>
    <tr>
    <th>ID</th>
    <th>Folder</th>
    <th>UserName</th>
    <th>Active</th>
    <th style="text-align:end;">Actions</th>
    </tr>
  </thead>
  <tbody class="fsbase">
  <%= render partial: 'spree/admin/sites/protected_folder_users/index', collection: @resources, as: :protected_folder_user %>
  </tbody>
</table>
</div>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
  <label class="form-label" style="margin-top: 0.5rem;"> You haven't registered the Folder User yet. </label>
  </div>
<% end %>



<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
