<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Mail Traffic
        </h1>
        
      </div>
      <div class="col-auto">
      </div>
    </div>

  </div>
</div>

<div class="alert alert-secondary no-objects-found">
      Coming Soon!!!
</div>




<script type="text/javascript">
  
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
