<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Wizards
        </h1>
        
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:start_wizard),
      new_admin_wizard_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_wizard', data: resource_limit_exceeded("domain"), error_id: "wizard", onclick: "checkResourceLimit(this);" %>
      </div>
    </div>

  </div>
</div>
<%#= alert(resource_alert("domain"),"warning")%>
<span id="res_limit_error_message_wizard"></span>

<h4>List of Wizard jobs</h4>
<div class="card">
    <div class="table-responsive">
    <table class="table table-sm card-table" style="table-layout: fixed; width:100%">
      <thead>
        <tr>
        <th style="width: 70%"> Domain </th>
        <th> Status </th>
        <th> Action </th>
        </tr>
      </thead>
      <tbody class="fsbase">
      <%@batch_jobs.reverse_each do |key, batch_job|%>
  
        <tr>
          <td> <%= link_to batch_job.first[:domain] , admin_wizard_path(key)%> </td>
          <td> <%= get_wizard_status(batch_job)%></td>
          <td> <%= link_to 'View' , admin_wizard_path(key)%></td>
        </tr>
       <%end if @batch_jobs.present?%>
      </tbody>
    </table>
</div>
</div>



<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
