<div class="header mt-4">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Wizards
        </h1>
        
      </div>
      <div class="col-auto">
        <%= button_link_to Spree.t(:refresh),
        admin_wizard_path(params[:id]),
        class: "btn btn-light lift",
         
          id: 'reload' %>
      <%= button_link_to Spree.t(:start_wizard),
        new_admin_wizard_path,
        class: "btn btn-primary lift",
          icon: 'add.svg',
          id: 'admin_wizard', error_id: "wizard_show" %>
      </div>
    </div>

  </div>
</div>
<span id="res_limit_error_message_wizard_show"></span>


<div data-nav-x-wrapper>
  <div data-nav-x-container>
    <%= render :partial=>'batch_job', locals: {batch_job: @tasks}%>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>

