<div class="header">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="header-title">
        Sub Domain
        </h1>
        
      </div>
      <div class="col-auto">
      <%= button_link_to Spree.t(:add_sub_domain),
      new_admin_sites_sub_domain_path,
      class: "btn btn-primary lift",
        icon: 'add.svg',
        id: 'admin_new_sub_domain' %>

      </div>
    </div>

  </div>
</div>


<% if @resources.any? %>
<div data-nav-x-wrapper>
  <div data-nav-x-container>
    <table class="table" id="listing_orders" data-hook data-nav-x-content>
      <thead>
        <tr data-hook="admin_orders_index_headers">
          <th>Sub Domain</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'spree/admin/sites/sub_domains/index', collection: @resources, as: :sub_domain %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <div class="alert alert-secondary no-objects-found">
    <label class="form-label" style="margin-top: 0.5rem;"> You haven't registered the Sub Domain yet.</label>
  </div>
<% end %>

<script type="text/javascript">
  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  $(document).ready(function (argument) {
    $('#FlashAlertsContainer').removeClass('d-none');
  });
</script>
