<p>This Terms Of Service agreement (hereafter referred to as the "TOS") lays down the terms and conditions by which we’re Hosting Services (hereafter referred to as the "Services") will be provided to you upon registration. The TOS also describes prohibited uses of the Services. This TOS is not exhaustive and we reserve the right to modify it from time to time, effective when notification is posted at www.we.com. No verbal or written agreement/statement by any we employee or at we's website will take precedence over the TOS.</p>
<p>
<p>On registering for and using the Services, you the Customer agree to all the terms and conditions of the TOS, as modified from time to time, in its entirety. If the Customer resells the Services he or she is paying for, the Customer will be responsible for his or her Clients. we only recognize the Customer who is paying for the Services and not his or her clients. Violation of the TOS or any such action that we deem inappropriate may result in the termination or suspension of the Services for the Customer.</p>
<h5>Payment</h5>
<p>The Services purchased by the Customer will be in the form of a specific Windows, Linux, VPS or Reseller Service Plan. Each Service Plan outlines the features, resources, and storage that we will provide to the Customer for the stated Service Fee. Each Service Plan along with their features, resources, storage and Service Fee are defined at www.we.com. we has the sole right to determine how the features, storage and resources under each Service Plan are interpreted and how they will be provided to the Customer. The Customer must clarify any questions about the Service Plan he or she wishes to purchase with we before registration. The Service Plan will be provided to the Customer in the form of a Service Account, which would allow the Customer to manage and use the features, resources and storage stated in the chosen Service Plan. All prices mentioned in the TOS and at www.we.com are in US Dollars (USD)</p>
<p>While registering for a Service Plan, the customer may choose a Billing Period (also know as Payment Term) of 1 Month, 3 Months, 6 Months or 1 Year. All Service Accounts are setup on a pre-pay basis. Upon the start of each Billing Period, the Customer will be charged the Service fee for the duration of the Billing Period. There may be additional charges according to our Overage Policy if any additional resources, features or storage is purchased or used by the Customer under the chosen Service Plan (which were not otherwise included for free). The Billing Period will renew itself automatically on termination unless the Customers chooses to cancel his or her Service Account (according to the Cancellation/Refund Policy)</p>
<p>All charges will be debited against the Customer's balance maintained by we. If the Customer's debt exceeds $4.00 USD, he or she is required to clear his or her balance within 7 days by the chosen Payment Mode (selected during registration). If the customer's chosen payment method is Credit Card, we would attempt to charge the credit card number provided by customer (upon or after registration) automatically. For all other purchases (i.e. purchases made from - 2Checkout.com & PayPal.com as well as by Cheque), customer must manually pay following payment procedures defined by we. Failure of customer to pay manually or for we to charge customer's credit card (due to any reason, in particular in case of an invalid credit card number or credentials) would lead to Service Account suspension. The Customer's Service Account would only be resumed when the customer clears his or her balance and pays for the Service Fee for the duration of the next Billing Period as well. If the Customer doesn't pay his or her balance within 14 days after Service Account suspension, we reserves the right to terminate the Customer's Service Account</p>
<p>A fee of $30 USD will be levied for every returned check and credit card charge back. we reserves the right to change pricing of the Services from time to time. we also reserves the right to withdraw any feature from a Service Plan, at any time it wishes to do so.</p>
<h5>Overages</h5>
<p>If Customer exceeds the feature, storage or resources limits defined by his or her chosen Service Plan, he or she will be charged for the extra usage according to the Overage rates outlined in that Service Plan. Customer may also purchase additional features, storage and resources by the same overage rates. If Customer uses/purchases more than 200% of the resources allocated in the chosen Hosting Plan, we reserves the right to terminate the Customer's Service Account with a 5-day prior notification. All overage rates are prorated. The overage fees charged will be for the remaining portion of the Customer's current Billing Period</p>
<h5>Refunds/Cancellations</h5>
<p>All Service Accounts must be cancelled by filling out the cancellation form at http://www.we.com/cancelform.asp.</p>
<p>The Customer will be eligible for refund if he or she chose Credit card, PayPal or 2Checkout as their buying Mode during registration. Refund will be made for unused months only of the current Billing period after deducting a Refund Charge of $10.00. If however the customer's registration date is less than 30 days from the cancellation date, the customer will receive a full refund.</p>
<p>Refunds will not be made if the Customer's balance is not current or if the Customer has violated any terms of the TOS.</p>
<h5>Liabilities/Obligation on Service Account Termination</h5>
<p>Services are provided on an "as is" basis." we is not liable to you for any compensation, reimbursement or damages on account of the loss of prospective profits, anticipated sales, goodwill or on account of expenditures, investments, leases or commitments in connection with your business, or for any other reason whatsoever flowing from the interruption, termination, suspension or cancellation of your Service Account.</p>
<p>Customer is liable to pay all charges accrued during Service Account operation. The customer is in no way relieved from paying these charges on Service Account interruption, suspension, termination or cancellation</p>
</h5>Material and Product Requirements</h5>
<p>You must ensure that all material and data placed on we's servers/systems is in a form requiring no additional manipulation by we. we will make no effort to validate any of this information for content, correctness or usability.</p>

<p>Use of the Services requires a certain level of knowledge in the use of Internet languages, protocols and software. This level of knowledge varies depending on the anticipated use of the Services. You must have the necessary knowledge for your intended use of the Services. we will not provide this knowledge to the Customer</p>
<h5>Intellectual Property Rights</h5>
<p>You must not use the Services in a manner that would infringe, violate, dilute or misappropriate any copyright laws, or laws protecting trademarks, trade secrets or proprietary information. If you use a domain name in connection with the Services, you must not use that domain name in violation of any trademark, service mark, or similar rights of any third party.</p>
<h5>Web Site Operation and Security</h5>
<p>If you run a Web Site through the Services, you are solely responsible for it's operation and maintenance and we plays no such role in it.</p>

<p>You are also responsible for the security of any client credit card numbers and related client information you may access as a result of conducting electronic commerce transactions through your Web Site. we will not be responsible for the security of such information</p>

<p>You also expressly (i) grant to we a license to cache the entirety of your Web Site, including content supplied by third parties, hosted by we under this Agreement and (ii) agree that such caching is not an infringement of any of your intellectual property rights or any third party's intellectual property rights.</p>
<h5>IP Address Ownership</h5>
<p>we shall maintain and control ownership of all IP numbers and addresses that may be assigned to you by we. we reserves the right to change or remove any and all such IP numbers and addresses.</p>
<h5>General Abuse</h5>
<p>Any attempt to cause harm or undermine we's servers, computers, network or customers is prohibited. Use of the Services to carry out any activity that is illegal under US and International laws is also prohibited.</p>
<h5>Prohibited uses of the Services also include, but are not restricted to:</h5>
<ol>
<li> Use of IRC, bots or clients</li>
<li> Unsolicited Bulk Emailing<</li>
<li> Newsgroup spamming</li>
<li> Hosting, promoting or linking to pornographic content</li>
<li> Illegal Content</li>
<li> Copyright infringement</li>
<li> Trademark infringement</li>
<li> Hosting and linking to pirated computer software and music.</li>
<li> Hosting/linking to software or information (such as software cracks, software cracking tutorials and software serial numbers) that may help any individual to obtain copyrighted software or music illegally.</li>
<li> Hosting or linking to computer software that may be used for spamming (know as spamware)</li>
<li> Providing/Promoting material that is grossly offensive to Internet Users which includes blatant expressions of bigotry, racism or hatred</li>
<li> Providing/Promoting material about illegal activities or promoting physical injury or harm against any group or individual</li>
<li> Providing/Promoting material about exploitation of children under the age of 18</li>
</ol>
<h5>Email Abuse</h5>
<p>The following activities are considered as email abuse and are prohibited</p>
<ol>
<li> Unsolicited bulk emailing. This includes, but not limited to commercial advertising, informational announcements, charity requests, petitions for signatures, and political or religious tracts. Such emails may only be sent in if the receiver explicitly requested such information directly from you.</li>
<li>Stealth Emailing. This includes forging, altering or removing email headers</li>
<li> Mail Bombing. This includes sending a large number of emails to disrupt or compromise a servers, systems or network</li>
<li> Emailing that may harass or intimidate others. This includes harassment or intimidation through frequency of emails, size of emails and the language of emails. If the recipient asks to stop, you must discontinue sending any further emails</li>
<li> Newsgroup Spamming. This includes unwelcome commercial advertising and posting that may be against the rules of a Usenet discussion group or mailing list.</li>
</ol>
<p>Such activities carried out from servers/systems not managed by we are ALSO prohibited if they link to websites, content or material hosted on we's servers/systems.</p>

<p>Emailing abuse carries a fine of up to $100 USD per email message sent, depending on the severity of the violation. Email abuse is also grounds for immediate suspension of your Service Account and an appropriate legal action.</p>
<h5>Server Abuse</h5>
<p>Server abuse includes any process or service usage that affects normal server/system operation, resources or connectivity, and which causes a server/system to become overloaded. Such abuse includes, but is not limited to, excessive CPU, hard disk and memory usage, excessive number of concurrent processes, excessive number of concurrent port or database connections and excessive bandwidth usage. Possible causes for server abuse include, but are not limited to, the excessive use of: CGI, Perl, Sendmail, mySQL, MSSQL, PHP, ASP, COLDFUSION, HTTP, SMTP, POP3 and FTP. Upon detection of server abuse, we will try to disable the specific script, website or database that is causing the abuse under your Service Account. If this is not possible, we will suspend your entire Service Account. The specific script, website or database under the Service Account or the Service account itself will only be resumed once the Customer has corrected the problem and convinced we that the abuse will not occur again. we will endeavor to provide prior notification before carrying out any such action but we may do so without any such notification, in its own discretion.</p>
<h5>Lawful Purpose</h5>
<p>we reserves the right to refuse service to anyone. Customers may only use the Services for lawful purpose. Transmission of any material in violation of US and International laws is prohibited. This includes, but is not limited to copyrighted material without explicit permission from the author/owner, material legally judged to be threatening or obscene, and material protected by trade secrets. The designation of any materials as such described above is left entirely to the discretion of we. Regardless of the place of signing this agreement, the client agrees that for purposes of venue and jurisdiction the TOS was entered into and performed in New Delhi, India and any dispute will be litigated or arbitrated in New Delhi, India. Customer further waives all objections to venue or jurisdiction and acknowledges that venue and jurisdiction in any such litigation will be held in the courts of New Delhi. IN NO EVENT SHALL we'S MAXIMUM LIABILITY EXCEED UNUSED PORTION OF THE TOTAL AMOUNT PAID BY CUSTOMER.</p>
<h5>Notifications</h5>
<p>All notifications to the customer will be sent by electronic mail (email). It is the responsibility of the customer to ensure his or her email address is valid at all times. we will not be responsible if Customer fails to receive any email we attempted to send</p>
<h5>Indemnification</h5>
<p>CUSTOMER AGREES THAT IT SHALL DEFEND, INDEMNIFY, SAVE AND HOLD we HARMLESS FROM ANY AND ALL DEMANDS, LIABILITIES, LOSSES, COSTS AND CLAIMS, INCLUDING REASONABLE ATTORNEY'S FEES ASSERTED AGAINST we, ITS AGENTS, ITS CUSTOMERS, OFFICERS AND EMPLOYEES, THAT MAY ARISE OR RESULT FROM ANY SERVICE PROVIDED OR PERFORMED OR AGREED TO BE PERFORMED OR ANY PRODUCT SOLD BY CUSTOMER, IT'S AGENTS, EMPLOYEES OR ASSIGNS. CUSTOMER AGREES TO DEFEND, INDEMNIFY AND HOLD HARMLESS we AGAINST LIABILITIES ARISING OUT OF; (1) ANY INJURY TO PERSON OR PROPERTY CAUSED BY ANY PRODUCTS SOLD OR OTHERWISE DISTRIBUTED IN CONNECTION WITH we SERVICES; (2) ANY MATERIAL SUPPLIED BY CUSTOMER INFRINGING OR ALLEGEDLY INFRINGING ON THE PROPRIETARY RIGHTS OF A THIRD PARTY; ( 3) COPYRIGHT INFRINGEMENT AND (4) ANY DEFECTIVE PRODUCTS SOLD TO CUSTOMER FROM we SERVICES</p>
<h5>Disclaimer</h5>
<p>WE WILL NOT BE RESPONSIBLE FOR ANY DAMAGES YOUR BUSINESS MAY SUFFER. we MAKES NO WARRANTIES OF ANY KIND, EXPRESSED OR IMPLIED FOR SERVICES WE PROVIDE. we DISCLAIMS ANY WARRANTY OR MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. THIS INCLUDES LOSS OF DATA RESULTING FROM DELAYS, NON-DELIVERIES, WRONG DELIVERY, AND ANY AND ALL SERVICE INTERRUPTIONS CAUSED BY we AND ITS EMPLOYEES. we RESERVES THE RIGHT TO REVISE ITS POLICIES AT ANY TIME. </p>












