.nav-sm {

    .nav-link {
      font-size: 1.1rem;
    }
}

.nav-link {
    font-size: 1.1rem;
}

.table-sm {
    font-size: 1rem;
}

.fsbase {
    font-size: 1rem;
}

.btn{
    font-size: 1rem; 
}

.flex-container {
    display: flex;
}

.flex-child:first-child {
    margin-right: 20px;
} 