.nav-sm {

    .nav-link {
      font-size: 1.1rem;
    }
}

.nav-link {
    font-size: 1.1rem;
}

.table-sm {
    font-size: 1rem;
}

.fsbase {
    font-size: 1rem;
}

.btn{
    font-size: 1rem; 
}

.flex-container {
    display: flex;
}

.flex-child:first-child {
    margin-right: 20px;
} 
.table_row_label{
    margin-top: 0.5rem;
    color:#95AAC9;
    text-align:center;
}

.close-button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.x-button{
   position: absolute;
   right:10px; 
}

.fe-check-circle.green {
  color: green;
}

.fe-x-circle.red{
  color: red;
}