//
// Theme
//
// Custom variables followed by theme variables followed by Bootstrap variables
// to ensure cascade of styles.
//

// Bootstrap functions
@import 'bootstrap/scss/functions';

// Custom variables
@import 'user-variables';

// Theme variables
@import 'theme/variables';

// Bootstrap core
@import 'bootstrap/scss/bootstrap';

// Theme core
@import 'theme/theme';

// Custom core
@import 'user';

@import 'custom';


.ml-2{
  margin-left: 7px;
}

.mr-2{
  margin-right: 7px;
}

.disable-box {
  padding: 3px 7px 6px 7px;
  border: 1px solid;
  border-radius: 6px;
}

.card.disabled {
	background-color: lightgrey;
}